/****Globals****/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 120%;
  font-size: 12px;
  margin: 0px;
  color: #cacaca;
  height: 100%;
  width: 100%;
}

.accent, a {
  color: #dfff00;
}

a {
  text-decoration: none;
}

a:hover {
  color: #cacaca;
}

.no-link {
  color: #cacaca;
}

img {
  border: none;
}

.clear {
  clear: both;
}

#bot-catcher {
  display: none;
}

h1 > a {
  font-size: 18px;
}

.new {
  color: #036803;
  font-weight: bold;
}

.no-style {
  list-style: none;
}

.indent {
  padding-left: 15px;
}

.sep {
  color: #dfff00;
}

.ui-datepicker-trigger {
  margin-left: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.strike {
  text-decoration: line-through;
}

#container {
  margin: 50px 0px 0px 15px;
  padding: 0px 25px 40px 0px;
}
#container ul, #container ol {
  padding-left: 15px;
  margin: 0;
  line-height: 140%;
}

/****Messages****/
.message {
  text-align: left;
  padding-bottom: 10px;
  font-size: 14px;
}

.password-weak {
  color: red;
}

.password-strong {
  color: #b99400;
}

.password-stronger {
  color: #245dd5;
}

.password-strongest {
  color: #036803;
}

.error-message {
  font-size: 14px;
  color: red;
}

.success-message {
  font-size: 14px;
  color: #036803;
}

.disabled-message {
  font-size: 14px;
  color: red;
}

.red-note {
  color: red;
  font-style: italic;
}

.copy-success {
  color: #036803;
  font-weight: bold;
}

.tooltip {
  font-style: italic;
  font-weight: normal;
}

.warning {
  color: red;
}

/****Forms****/
.form-row {
  width: 100%;
  padding-bottom: 10px;
}

.form-row:last-child {
  padding: 0px;
}

form[name*='add'] .form-row, form[name*='edit'] .form-row {
  padding-bottom: 15px;
  font-weight: bold;
}

input[type='checkbox'] {
  vertical-align: middle;
}

input[type='text'], input[type='password'], select {
  background-color: #161616;
  font-size: 13px;
  color: #cacaca;
  padding: 5px;
  border: 1px solid #cacaca;
}

input[type='text'], input[type='password'] {
  width: 255px;
}

input.large-input {
  width: 450px;
}

textarea {
  background-color: #161616;
  color: #cacaca;
}

.input-btn {
  background-color: #161616;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  color: #dfff00;
  padding: 5px 15px 5px 15px;
  border: 1px solid #cacaca;
}

.input-btn:hover {
  background-color: #040404;
}

.btn-cancel, .btn-email {
  margin-left: 20px;
}

.form-btns {
  text-align: left;
}

.checkedBox {
  color: #036803;
}

/****Login Page****/
#login-wrapper, #set-new-password {
  background-color: #2d2d2d;
  width: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -201px;
  margin-top: -135px;
  font-size: 14px;
  border: 1px solid #cacaca;
}

.title-message {
  width: 100%;
  background-color: #cacaca;
  padding: 20px 0px;
}

.login-title {
  font-size: 26px;
  font-weight: bold;
  color: #dfff00;
  margin-left: 20px;
}

.login-form, .get-password-form, .reset-password-form {
  width: 410px;
  padding: 20px;
  text-align: right;
}

.get-credentials {
  display: inline;
  padding-bottom: 0px;
  margin: 5px 0px 0px 10px;
}

form[name='login_form'] input[type='text'], form[name='login_form'] input[type='password'], .get-password-email, .new-password {
  width: 255px;
}

/****Header****/
#header-wrapper {
  background-color: #2d2d2d;
  width: 100%;
  height: 65px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cacaca;
}
#header-wrapper .header-logo {
  color: #dfff00;
  padding: 10px 0px 0px 25px;
}
#header-wrapper .version {
  font-size: 12px;
}
#header-wrapper h3 {
  padding: 15px 25px 0px 0px;
  color: #cacaca;
}
#header-wrapper h3 a:hover {
  color: #cacaca;
}

/****Nav****/
#nav-wrapper {
  background-color: #2d2d2d;
  width: 220px;
  height: auto;
  color: #cacaca;
  margin-bottom: 20px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  border-left: 1px solid #cacaca;
}
#nav-wrapper .menu {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav-wrapper .menu li {
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: bold;
  color: #dfff00;
  cursor: pointer;
  border-top: 1px solid #cacaca;
}
#nav-wrapper .menu li span {
  padding: 0px 20px;
}
#nav-wrapper .menu li:hover {
  background-color: #3f3f3f;
}
#nav-wrapper .menu li:first-child {
  border-top: none;
}
#nav-wrapper .menu .sub-menu {
  display: none;
}
#nav-wrapper .menu .sub-menu .sub-menu-list {
  background-color: #161616;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0px;
  border-top: 1px solid #cacaca;
}
#nav-wrapper .menu .sub-menu .sub-menu-list li {
  width: 100%;
  padding: 0;
  font-size: 13px;
  font-weight: normal;
  border: none;
}
#nav-wrapper .menu .sub-menu .sub-menu-list li a {
  color: #dfff00;
  width: 100%;
  display: block;
  padding: 5px 0px 7px 0px;
}
#nav-wrapper .menu .sub-menu .sub-menu-list li a span {
  padding: 0px 30px;
}
#nav-wrapper .menu .sub-menu .sub-menu-list li a:hover {
  background-color: #040404;
}

/****Boilerplate****/
#content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  color: #cacaca;
}

#main-wrapper {
  width: 94%;
  min-width: 1070px;
  min-height: 500px;
  margin: 30px 0px 0px 30px;
  color: #cacaca;
}

#main-content {
  background-color: #2d2d2d;
  min-width: 850px;
  min-height: 500px;
  position: relative;
  margin-left: 220px;
  padding: 20px 20px 40px 20px;
  border: 1px solid #cacaca;
}

#main-footer {
  text-align: center;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: auto;
  color: #cacaca;
}

/****Reset Password Pages****/
.reset-title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 15px;
}

.reset-old-password {
  text-align: center;
}
.reset-old-password .message {
  text-align: center;
  padding: 0;
  font-size: 12px;
}
.reset-old-password .reset-password-label {
  font-weight: bold;
  font-size: 14px;
}
.reset-old-password input[type="text"] {
  color: #2d2d2d;
}
.reset-old-password .input-btn {
  background-color: #2d2d2d;
}
.reset-old-password .input-btn:hover {
  background-color: #3f3f3f;
}

.reset-success {
  color: #036803;
  line-height: 140%;
}

input.reset-password-btn {
  width: 160px;
}

/****Home Page****/
.recently-updated-items-list {
  width: 100%;
  margin-top: 50px;
  padding: 10px 20px;
  border: 3px solid #cacaca;
}
.recently-updated-items-list h2 {
  padding: 10px 0px;
}
.recently-updated-items-list h2 span {
  font-size: 12px;
  font-weight: normal;
}
.recently-updated-items-list .updated-item {
  width: 100%;
  padding: 10px 15px 12px 15px;
  margin-bottom: 20px;
}
.recently-updated-items-list .updated-item .updated-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.recently-updated-items-list .updated-item .updated-title .release-title-text {
  color: #cacaca;
}
.recently-updated-items-list .updated-item .updated-item-risk-comfort-levels {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
}
.recently-updated-items-list .updated-item .updated-item-data-changes {
  width: 100%;
  margin-top: 4px;
}
.recently-updated-items-list .updated-item .updated-item-config-changes {
  width: 100%;
  margin-top: 4px;
}
.recently-updated-items-list .updated-item .updated-item-affected-items {
  width: 100%;
  margin-top: 4px;
  line-height: 150%;
  font-weight: normal;
}
.recently-updated-items-list .updated-item .updated-item-comment {
  width: 100%;
  background-color: #161616;
  margin-top: 5px;
  padding: 5px 10px 7px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.recently-updated-items-list .updated-item:hover {
  background-color: #161616;
}
.recently-updated-items-list .updated-item:hover .updated-item-comment {
  background-color: #2d2d2d;
}

/****Checklists / Release Lists Pages****/
.releases {
  width: 100%;
  padding: 10px 10px 12px 10px;
}

.releases:hover {
  background-color: #161616;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.checklist-title, .release-list-title {
  font-weight: bold;
  font-size: 14px;
  color: #dfff00;
}

.checklist-edited-date, .release-list-edited-date {
  font-style: italic;
  color: #cacaca;
}

.checklist-release-date, .release-list-release-date {
  font-weight: bold;
  color: #cacaca;
}

.checklist-link, .release-list-link {
  font-weight: bold;
  color: #dfff00;
}

.title-small-txt {
  font-size: 12px;
}

/****Release Items Page****/
.release-details {
  width: 100%;
  line-height: 150%;
  font-size: 16px;
  font-weight: bold;
}
.release-details .total-items {
  color: #dfff00;
}
.release-details .total-items-breakdown {
  font-size: 12px;
}

#release-list-container {
  width: 100%;
}

.release-items-list {
  width: 100%;
  margin-top: 50px;
  padding: 10px 20px;
  border: 3px solid #cacaca;
}
.release-items-list h2 {
  padding: 10px 0px;
}
.release-items-list .no-results {
  padding-bottom: 25px;
}
.release-items-list .release-item {
  width: 100%;
  padding: 10px 15px 12px 15px;
  margin-bottom: 20px;
}
.release-items-list .release-item .release-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.release-items-list .release-item .release-title .release-title-text {
  color: #cacaca;
}
.release-items-list .release-item .risk-comfort-levels {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
}
.release-items-list .release-item .data-changes {
  width: 100%;
  margin-top: 4px;
}
.release-items-list .release-item .config-changes {
  width: 100%;
  margin-top: 4px;
}
.release-items-list .release-item .affected-items {
  width: 100%;
  margin-top: 4px;
  line-height: 150%;
  font-weight: normal;
}
.release-items-list .release-item .release-item-comment {
  width: 100%;
  background-color: #161616;
  margin-top: 5px;
  padding: 5px 10px 7px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.release-items-list .release-item:hover {
  background-color: #161616;
}
.release-items-list .release-item:hover .release-item-comment {
  background-color: #2d2d2d;
}

.release-level-bad {
  color: red;
}

.release-level-mediocre {
  color: #b99400;
}

.release-level-good {
  color: #036803;
}

/****Checklists Page****/
.checklist-details {
  width: 100%;
  line-height: 150%;
  font-size: 16px;
  font-weight: bold;
}

#tools {
  margin-top: 60px;
  width: 100%;
  text-align: left;
}
#tools .tool {
  margin: 5px 30px 0px 0px;
  cursor: pointer;
}

#checklistrelease, #checklistdeploy, #checklistproduction, #checklistproject {
  width: 100%;
  margin: 40px 0px 0px 0px;
}

.completed {
  visibility: hidden;
}

#checklistrelease > div:first-of-type, #checklistdeploy > div:first-of-type, #checklistproduction > div:first-of-type, #checklistproject > div:first-of-type {
  margin-top: 20px;
}

.checklist-row {
  font-size: 14px;
  margin: 30px 0px 0px 15px;
  line-height: 130%;
}
.checklist-row ul.comments-list {
  padding: 0;
  margin: 2px 0px 2px 3px;
}
.checklist-row ul.comments-list li[class^='comment-box-edit'] {
  background-color: #161616;
  font-size: 12px;
  width: 90%;
  list-style: none;
  margin: 10px 0px 0px 30px;
  padding: 10px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.checklist-row ul.comments-list li[class^='comment-box-edit'] .bullet-arrow {
  width: 0px;
  height: 0px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-left: 5px solid #dfff00;
  margin: 6px 8px 0px 0px;
}
.checklist-row textarea {
  width: 500px;
  height: 100px;
  padding: 5px;
  border: 1px solid #cacaca;
}

.checklist-edited-data {
  font-size: 12px;
  padding: 0px 2px 0px 2px;
}

.checklist-edit-date {
  font-style: italic;
  font-size: 12px;
}

.checklist-new-edited-date {
  padding: 0px 2px 0px 2px;
}

.checklist-new-edited-by {
  padding: 0px 2px 0px 2px;
}

#customer-list {
  font-size: 14px;
  line-height: 140%;
  margin: 15px;
}

#error-handling {
  font-size: 14px;
  line-height: 140%;
  margin: 15px;
}

#flex-urls {
  font-size: 14px;
  line-height: 140%;
  margin: 15px;
}

#comment-form {
  padding: 10px 20px;
}
#comment-form .input-btn {
  background-color: #2d2d2d;
}
#comment-form .input-btn:hover {
  background-color: #3f3f3f;
}

#error-handling h2, #flex-urls h2, #comment-form h2 {
  color: #dfff00;
}

/****Releases Page****/
#releases-list {
  width: 100%;
  padding-bottom: 20px;
}
#releases-list .release-item {
  padding: 20px 15px;
}
#releases-list .release-item .row {
  width: 100%;
  padding: 3px;
}
#releases-list .release-item .name {
  font-size: 22px;
  font-weight: bold;
}
#releases-list .release-item .name .note {
  font-size: 16px;
}
#releases-list .release-item .links {
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
}
#releases-list .release-item .owner {
  padding-top: 5px;
}
#releases-list .release-item .edit-delete {
  padding-top: 5px;
}
#releases-list .release-item:hover {
  background-color: #161616;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/****Release Notes****/
#note-title {
  margin-bottom: 0;
  padding-bottom: 0;
  width: 70%;
}

#external-note-view {
  font-size: 12px;
}

#note-edited-data {
  margin-top: 5px;
  font-size: 14px;
  width: 100%;
}

#release-note {
  width: 100%;
  font-size: 14px;
  margin-top: 25px;
  padding-bottom: 45px;
}

#note-history {
  margin-top: 30px;
}
#note-history .note-history-title {
  font-weight: bold;
  font-size: 14px;
}
#note-history .note-revisions-list {
  font-weight: normal;
  margin: 3px 0px 0px 10px;
  line-height: 140%;
}
#note-history .revision-pages, #note-history .revision-pages-nav {
  margin: 3px 0px 0px 10px;
  font-weight: bold;
}

/****Users Page****/
#users-list {
  width: 100%;
  padding-bottom: 20px;
}
#users-list .user-item {
  padding: 20px 15px;
}
#users-list .user-item .row {
  width: 100%;
  clear: both;
  padding: 3px;
}
#users-list .user-item .row .username {
  font-size: 22px;
  font-weight: bold;
}
#users-list .user-item .row .nickname {
  margin-left: 10px;
  font-size: 16px;
  font-weight: bold;
}
#users-list .user-item .row .name {
  margin-top: 5px;
}
#users-list .user-item .row .admin {
  font-size: 12px;
  font-weight: bold;
  color: #036803;
  margin: 0px 0px 0px 5px;
}
#users-list .user-item .row .edit-user {
  margin-top: 5px;
}
#users-list .user-item:hover {
  background-color: #161616;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.user-heading {
  width: 100%;
  padding-bottom: 15px;
}
.user-heading a:hover {
  color: #dfff00;
}
.user-heading a:last-child {
  margin-left: 20px;
}

/****Search Page****/
.group-search-type, .group-search-by {
  padding-bottom: 10px;
}

.search-title {
  font-size: 16px;
  font-weight: bold;
}

#results-count {
  display: inline;
  margin-left: 5px;
  font-size: 14px;
  font-weight: bold;
}

#search-results {
  width: 100%;
  margin-top: 30px;
  font-size: 16px;
}
#search-results a:hover {
  color: #dfff00;
}
#search-results .results-row {
  margin-top: 9px;
  padding: 10px 10px 12px 10px;
}
#search-results .results-row .title {
  width: 100%;
}
#search-results .results-row .title .results-title {
  color: #cacaca;
  font-weight: bold;
}
#search-results .results-row .release {
  width: 100%;
  margin-top: 7px;
}
#search-results .results-row .release .results-title {
  color: #cacaca;
  font-weight: bold;
}
#search-results .results-row:hover {
  background-color: #161616;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#search-results a:last-child .results-row {
  border: none;
}
#search-results .results-row-none {
  margin-top: 9px;
  padding-bottom: 9px;
}

/****TestBoard Page****/
#link-container {
  font-size: 14px;
}

#test-board {
  margin: 40px 0px 0px 10px;
  width: 700px;
  line-height: 140%;
  font-size: 16px;
}

#txt-customer-id, #customer-options {
  width: 250px;
}

#hf-suffix {
  width: 300px;
}

#generated-links {
  margin-top: 40px;
  font-size: 16px;
}

#history-links {
  margin: 30px 0px 0px 10px;
}

#clear-history {
  cursor: pointer;
  font-size: 14px;
}

#recently-visited-sites {
  background-color: #161616;
  width: 655px;
  min-height: 75px;
  padding: 10px;
  color: #cacaca;
  border: 1px solid #cacaca;
}

#history-link-list {
  padding: 5px 0px 0px 30px;
  margin: 0;
}

/****Preload Images (Hiddden DIV)****/
#preload-images {
  display: none;
}
