/****Globals****/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 120%;
  font-size: 12px;
  margin: 0px;
  color: #555555;
  height: 100%;
  width: 100%;
}

.accent, a {
  color: #0099ff;
}

a {
  text-decoration: none;
}

a:hover {
  color: #555555;
}

.no-link {
  color: #555555;
}

img {
  border: none;
}

.clear {
  clear: both;
}

h1 > a {
  font-size: 18px;
}

.new {
  color: #036803;
  font-weight: bold;
}

.no-style {
  list-style: none;
}

.indent {
  padding-left: 15px;
}

.sep {
  color: #0099ff;
}

.left {
  float: left;
}

.right {
  float: right;
}

#container {
  margin: 50px 0px 0px 15px;
  padding: 0px 25px 40px 0px;
}
#container ul, #container ol {
  padding-left: 15px;
  margin: 0;
  line-height: 140%;
}

/****Header****/
#header-wrapper {
  background-color: #cccccc;
  width: 100%;
  height: 65px;
  padding-bottom: 15px;
  border-bottom: 1px solid #555555;
}
#header-wrapper .header-logo {
  color: #0099ff;
  padding: 10px 0px 0px 25px;
}
#header-wrapper .version {
  font-size: 12px;
}
#header-wrapper h3 {
  padding: 15px 25px 0px 0px;
  color: #555555;
}
#header-wrapper h3 a:hover {
  color: #555555;
}

/****Boilerplate****/
#content-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  color: #555555;
}

#main-wrapper {
  width: 90%;
  min-width: 1070px;
  min-height: 500px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: #555555;
}

#main-content {
  background-color: #cccccc;
  min-width: 850px;
  min-height: 500px;
  padding: 20px;
  border: 1px solid #555555;
}

#main-footer {
  text-align: center;
  padding: 10px 0px 10px 0px;
  width: 100%;
  height: auto;
  color: #555555;
}

/****Release Lists Page****/
.releases {
  width: 100%;
  padding: 10px 10px 12px 10px;
}

.releases:hover {
  background-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.release-list-title {
  font-weight: bold;
  font-size: 14px;
  color: #0099ff;
}

.release-list-edited-date {
  font-style: italic;
  color: #555555;
}

.release-list-release-date {
  font-weight: bold;
  color: #555555;
}

.release-list-link {
  font-weight: bold;
  color: #0099ff;
}

.title-small-txt {
  font-size: 12px;
}

/****Release Items Page****/
.release-details {
  width: 100%;
  line-height: 150%;
  font-size: 16px;
  font-weight: bold;
}
.release-details .total-items {
  color: #0099ff;
}
.release-details .total-items-breakdown {
  font-size: 12px;
}

#tools {
  margin-top: 40px;
  width: 100%;
  text-align: left;
}
#tools .tool {
  margin: 5px 30px 10px 0px;
}

#release-list-container {
  width: 100%;
}

.release-items-list {
  width: 100%;
  margin-top: 50px;
  padding: 10px 20px;
  border: 3px solid #555555;
}
.release-items-list h2 {
  padding: 10px 0px;
}
.release-items-list .no-results {
  padding-bottom: 25px;
}
.release-items-list .release-item {
  width: 100%;
  padding: 10px 15px 12px 15px;
  margin-bottom: 20px;
}
.release-items-list .release-item .release-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}
.release-items-list .release-item .release-title .release-title-text {
  color: #555555;
}
.release-items-list .release-item .risk-comfort-levels {
  width: 100%;
  margin-top: 8px;
  font-weight: bold;
}
.release-items-list .release-item .data-changes {
  width: 100%;
  margin-top: 4px;
}
.release-items-list .release-item .config-changes {
  width: 100%;
  margin-top: 4px;
}
.release-items-list .release-item .affected-items {
  width: 100%;
  margin-top: 4px;
  line-height: 150%;
  font-weight: normal;
}
.release-items-list .release-item .release-item-comment {
  width: 100%;
  background-color: white;
  margin-top: 5px;
  padding: 5px 10px 7px 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.release-items-list .release-item:hover {
  background-color: white;
}
.release-items-list .release-item:hover .release-item-comment {
  background-color: #cccccc;
}

.release-level-bad {
  color: red;
}

.release-level-mediocre {
  color: #b99400;
}

.release-level-good {
  color: #036803;
}

/****Preload Images (Hiddden DIV)****/
#preload-images {
  display: none;
}
