// color 1 variables //
$mainColor: #FFFFFF;
$defaultDarkenBackgroundColor: #FFFFFF;
$inputColor: #FFFFFF;

// color 2 variables //
$secondaryColor: #CCCCCC;
$defaultDarkenLightenColor: #CCCCCC;
$headerBackgroundColor: #CCCCCC;
$inputColorAlt: #CCCCCC;

// color 3 variables //
$defaultBorderColor: #555555;
$fontColor: #555555;
$headerFontColor: #555555;
$inputFontColor: #555555;

// color 4 variables //
$accentColor: #0099FF;
$defaultArrowColor: #0099FF;

// static color variables //
$redColor: #FF0000;
$greenColor: #036803;
$blueColor: #245DD5;
$yellowColor: #B99400;

// font variables //
$fontFamily: Tahoma, Geneva, sans-serif;
$defaultFontSize: 12px;
$titleFontSize: 18px;
$titleFontSizeLarge: 22px;
$titleFontSizeSmall: 16px;
$messageFontSize: 14px;
$buttonFontSize: 11px;
$inputFontSize: 13px;
$navFontSize: 16px;
$navSubFontSize: 13px;

// misc variables //
$inputWidth: 255px;
$inputWidthLarge: 550px;

// mixins //
@mixin roundCorners($radius: 5px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin backgroundDarken($darkenColor: $defaultDarkenBackgroundColor, $darkenPercentage: 7%) {
	background-color: darken($darkenColor, $darkenPercentage);
}
@mixin backgroundLighten($lightenColor: $defaultDarkenLightenColor, $lightenPercentage: 7%) {
	background-color: lighten($lightenColor, $lightenPercentage);
}
@mixin arrow($arrowSize: 5px, $arrowColor: $defaultArrowColor) {
	width: 0px;
	height: 0px;
	border-bottom: $arrowSize solid transparent;
	border-top: $arrowSize solid transparent;
	border-left: $arrowSize solid $arrowColor;
}
@mixin borderAll($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border: $borderSize $borderStyle $borderColor;
}
@mixin borderLeft($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-left: $borderSize $borderStyle $borderColor;
}
@mixin borderRight($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-right: $borderSize $borderStyle $borderColor;
}
@mixin borderTop($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-top: $borderSize $borderStyle $borderColor;
}
@mixin borderBottom($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-bottom: $borderSize $borderStyle $borderColor;
}



/****Globals****/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $mainColor;
	font-family: $fontFamily;
	line-height: 120%;
	font-size: $defaultFontSize;
	margin: 0px;
	color: $fontColor;
	height: 100%;
	width: 100%;
}

.accent {
	color: $accentColor;
}

a {
	@extend .accent;
	text-decoration: none;
}

a:hover {
	color: $fontColor;
}

.no-link {
	color: $fontColor;
}

img {
	border: none;
}

.clear {
	clear: both;
}

#bot-catcher {
	display: none;
}

h1 > a {
	font-size: $titleFontSize;
}

.new {
	color: $greenColor;
	font-weight: bold;
}

.no-style {
	list-style: none;
}

.indent {
	padding-left: 15px;
}

.sep {
	color: $accentColor;
}

.ui-datepicker-trigger {
	margin-left: 5px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.strike {
	text-decoration: line-through;
}

#container {
	margin: 50px 0px 0px 15px;
	padding: 0px 25px 40px 0px;

	ul, ol {
		padding-left: 15px;
		margin: 0;
		line-height: 140%;
	}
}



/****Messages****/
.message {
	text-align: left;
	padding-bottom: 10px;
	font-size: $messageFontSize;
}

.password-weak {
	color: $redColor;
}

.password-strong {
	color: $yellowColor;
}

.password-stronger {
	color: $blueColor;
}

.password-strongest {
	color: $greenColor;
}

.error-message {
	font-size: $messageFontSize;
	color: $redColor;
}

.success-message {
	font-size: $messageFontSize;
	color: $greenColor;
}

.disabled-message {
	font-size: $messageFontSize;
	color: $redColor;
}

.red-note {
	color: $redColor;
	font-style: italic;
}

.copy-success {
	color: $greenColor;
	font-weight: bold;
}

.tooltip {
	font-style: italic;
	font-weight: normal;
}

.warning {
	color: $redColor;
}



/****Forms****/
.form-row {
	width: 100%;
	padding-bottom: 10px;
}

.form-row:last-child {
	padding: 0px;
}

form[name*='add'] .form-row, form[name*='edit'] .form-row {
	padding-bottom: 15px;
	font-weight: bold;
}

input[type='checkbox'] {
	vertical-align: middle;
}

input[type='text'], input[type='password'], select {
	background-color: $inputColor;
	font-size: $inputFontSize;
	color: $inputFontColor;
	padding: 5px;
	@include borderAll();
}

input[type='text'], input[type='password'] {
	width: $inputWidth;
}

input.large-input {
	width: $inputWidthLarge;
}

textarea {
	background-color: $inputColor;
	color: $inputFontColor;
}

.input-btn {
	background-color: $mainColor;
	cursor: pointer;
	font-size: $buttonFontSize;
	font-weight: bold;
	color: $accentColor;
	padding: 5px 15px 5px 15px;
	@include borderAll();
}

.input-btn:hover {
	@include backgroundDarken();
}

.btn-cancel, .btn-email {
	margin-left: 20px;
}

.form-btns {
	text-align: left;
}

.checkedBox {
	color: $greenColor;
}



/****Login Page****/
#login-wrapper, #set-new-password {
	background-color: $secondaryColor;
	width: 450px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -201px;
	margin-top: -135px;
	font-size: 14px;
	@include borderAll();
}

.title-message {
	width: 100%;
	background-color: $fontColor;
	padding: 20px 0px;
}

.login-title {
	font-size: 26px;
	font-weight: bold;
	color: $accentColor;
	margin-left: 20px;
}

.login-form, .get-password-form, .reset-password-form {
	width: 410px;
	padding: 20px;
	text-align: right;
}

.get-credentials {
	display: inline;
	padding-bottom: 0px;
	margin: 5px 0px 0px 10px;}

form[name='login_form'] input[type='text'], form[name='login_form'] input[type='password'], .get-password-email, .new-password {
	width: $inputWidth;
}


/****Header****/
#header-wrapper {
	background-color: $headerBackgroundColor;
	width: 100%;
	height: 65px;
	padding-bottom: 15px;
	@include borderBottom();

	.header-logo {
		color: $accentColor;
		padding: 10px 0px 0px 25px;
	}

	.version {
		font-size: $defaultFontSize;
	}

	h3 {
		padding: 15px 25px 0px 0px;
		color: $headerFontColor;

		a:hover {
			color: $headerFontColor;
		}
	}
}



/****Nav****/
#nav-wrapper {
	background-color: $secondaryColor;
	width: 220px;
	height: auto;
	color: $fontColor;
	margin-bottom:20px;
	@include borderTop();
	@include borderBottom();
	@include borderLeft();

	.menu {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			width: 100%;
			padding: 10px 0px;
			font-size: $navFontSize;
			font-weight: bold;
			color: $accentColor;
			cursor: pointer;
			@include borderTop();

			span {
				padding: 0px 20px;
			}
		}

		li:hover {
			@include backgroundLighten();
		}

		li:first-child {
			border-top: none;
		}

		.sub-menu {
			display: none;

			.sub-menu-list {
				background-color: $mainColor;
				width: 100%;
				list-style: none;
				margin: 0;
				padding: 10px 0px;
				@include borderTop();

				li {
					width: 100%;
					padding: 0;
					font-size: $navSubFontSize;
					font-weight: normal;
					border: none;

					a {
						color: $accentColor;
						width: 100%;
						display: block;
						padding: 5px 0px 7px 0px;

						span {
							padding: 0px 30px;
						}
					}

					a:hover {
						@include backgroundDarken();
					}
				}
			}
		}
	}
}



/****Boilerplate****/
#content-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	color: $fontColor;
}

#main-wrapper {
	width: 94%;
	min-width: 1070px;
	min-height: 500px;
	margin: 30px 0px 0px 30px;
	color: $fontColor;
}

#main-content {
	background-color: $secondaryColor;
	min-width: 850px;
	min-height: 500px;
	position: relative;
	margin-left: 220px;
	padding: 20px 20px 40px 20px;
	@include borderAll();
}

#main-footer {
	text-align: center;
	padding: 10px 0px 10px 0px;
	width: 100%;
	height: auto;
	color: $fontColor;
}



/****Reset Password Pages****/
.reset-title {
	text-align: left;
	font-size: $titleFontSize;
	font-weight: bold;
	padding-bottom: 15px;
}

.reset-old-password {
	text-align: center;

	.message {
		text-align: center;
		padding: 0;
		font-size: $defaultFontSize;
	}

	.reset-password-label {
		font-weight: bold;
		font-size: $messageFontSize;
	}

	input[type="text"] {
		color: $inputColorAlt;
	}

	.input-btn {
		background-color: $secondaryColor;
	}

	.input-btn:hover {
		@include backgroundLighten();
	}
}

.reset-success {
	color: $greenColor;
	line-height: 140%;
}

input.reset-password-btn {
	width: 160px;
}



/****Home Page****/
.recently-updated-items-list {
	width: 100%;
	margin-top: 50px;
	padding: 10px 20px;
	@include borderAll($borderSize: 3px);

	h2 {
		padding: 10px 0px;
		
		span {
			font-size: $defaultFontSize;
			font-weight: normal;
		}
	}

	.updated-item {
		width: 100%;
		padding: 10px 15px 12px 15px;
		margin-bottom: 20px;

		.updated-title {
			width: 100%;
			font-size: $titleFontSizeSmall;
			font-weight: bold;

			.release-title-text {
				color: $fontColor;
			}
		}

		.updated-item-risk-comfort-levels {
			width: 100%;
			margin-top: 8px;
			font-weight: bold;
		}

		.updated-item-data-changes {
			width: 100%;
			margin-top: 4px;
		}

		.updated-item-config-changes {
			width: 100%;
			margin-top: 4px;
		}

		.updated-item-affected-items {
			width: 100%;
			margin-top: 4px;
			line-height: 150%;
			font-weight: normal;
		}

		.updated-item-comment {
			width: 100%;
			background-color: $mainColor;
			margin-top: 5px;
			padding: 5px 10px 7px 10px;
			@include roundCorners(3px);
		}
	}

	.updated-item:hover {
		background-color: $mainColor;
	}

	.updated-item:hover .updated-item-comment {
		background-color: $secondaryColor;
	}
}



/****Checklists / Release Lists Pages****/
.releases {
	width: 100%;
	padding: 10px 10px 12px 10px;
}

.releases:hover {
	background-color: $mainColor;
	@include roundCorners($radius: 10px);
}

.checklist-title, .release-list-title {
	font-weight: bold;
	font-size: $messageFontSize;
	color: $accentColor;
}

.checklist-edited-date, .release-list-edited-date {
	font-style: italic;
	color: $fontColor;
}

.checklist-release-date, .release-list-release-date {
	font-weight: bold;
	color: $fontColor;
}

.checklist-link, .release-list-link {
	font-weight: bold;
	color: $accentColor;
}

.title-small-txt {
	font-size: $defaultFontSize;
}



/****Release Items Page****/
.release-details {
	width: 100%;
	line-height: 150%;
	font-size: $titleFontSizeSmall;
	font-weight: bold;

	.total-items {
		color: $accentColor;
	}

	.total-items-breakdown {
		font-size: $defaultFontSize;
	}
}

#release-list-container {
	width: 100%;
}

.release-items-list {
	width: 100%;
	margin-top: 50px;
	padding: 10px 20px;
	@include borderAll($borderSize: 3px);

	h2 {
		padding: 10px 0px;
	}

	.no-results {
		padding-bottom: 25px;
	}

	.release-item {
		width: 100%;
		padding: 10px 15px 12px 15px;
		margin-bottom: 20px;

		.release-title {
			width: 100%;
			font-size: $titleFontSizeSmall;
			font-weight: bold;

			.release-title-text {
				color: $fontColor;
			}
		}

		.risk-comfort-levels {
			width: 100%;
			margin-top: 8px;
			font-weight: bold;
		}

		.data-changes {
			width: 100%;
			margin-top: 4px;
		}

		.config-changes {
			width: 100%;
			margin-top: 4px;
		}

		.affected-items {
			width: 100%;
			margin-top: 4px;
			line-height: 150%;
			font-weight: normal;
		}

		.release-item-comment {
			width: 100%;
			background-color: $mainColor;
			margin-top: 5px;
			padding: 5px 10px 7px 10px;
			@include roundCorners(3px);
		}
	}

	.release-item:hover {
		background-color: $mainColor;
	}

	.release-item:hover .release-item-comment {
		background-color: $secondaryColor;
	}
}

.release-level-bad {
	color: $redColor;
}

.release-level-mediocre {
	color: $yellowColor;
}

.release-level-good {
	color: $greenColor;
}



/****Checklists Page****/
.checklist-details {
	width: 100%;
	line-height: 150%;
	font-size: $titleFontSizeSmall;
	font-weight: bold;
}

#tools {
	margin-top: 60px;
	width: 100%;
	text-align: left;

	.tool {
		margin: 5px 30px 0px 0px;
		cursor: pointer;
	}
}

#checklistrelease, #checklistdeploy, #checklistproduction, #checklistproject {
	width: 100%;
	margin: 40px 0px 0px 0px;
}

.completed {
	visibility: hidden;
}

#checklistrelease > div:first-of-type, #checklistdeploy > div:first-of-type, #checklistproduction > div:first-of-type, #checklistproject > div:first-of-type {
	margin-top: 20px;
}

.checklist-row {
	font-size: $messageFontSize;
	margin: 30px 0px 0px 15px;
	line-height: 130%;

	ul.comments-list {
		padding: 0;
		margin: 2px 0px 2px 3px;

		li[class^='comment-box-edit'] {
			background-color: $mainColor;
			font-size: $defaultFontSize;
			width: 90%;
			list-style: none;
			margin: 10px 0px 0px 30px;
			padding: 10px 15px;
			@include roundCorners();

			.bullet-arrow {
				@include arrow();
				margin: 6px 8px 0px 0px;
			}
		}
	}

	textarea {
		width: 500px;
		height: 100px;
		padding: 5px;
		@include borderAll();
	}
}

.checklist-edited-data {
	font-size: $defaultFontSize;
	padding: 0px 2px 0px 2px;
}

.checklist-edit-date {
	font-style: italic;
	font-size: $defaultFontSize;
}

.checklist-new-edited-date {
	padding: 0px 2px 0px 2px;
}

.checklist-new-edited-by {
	padding: 0px 2px 0px 2px;
}

#customer-list {
	font-size: $messageFontSize;
	line-height: 140%;
	margin: 15px;
}

#error-handling {
	font-size: $messageFontSize;
	line-height: 140%;
	margin: 15px;
}

#flex-urls {
	font-size: $messageFontSize;
	line-height: 140%;
	margin: 15px;
}

#comment-form {
	padding: 10px 20px;

	.input-btn {
		background-color: $secondaryColor;
	}

	.input-btn:hover {
		@include backgroundLighten();
	}
}

#error-handling h2, #flex-urls h2, #comment-form h2 {
	color: $accentColor;
}

#reset-checklists {
	width: 100%;
}



/****Releases Page****/
#releases-list {
	width: 100%;
	padding-bottom: 20px;

	.release-item {
		padding: 20px 15px;

		.row {
			width: 100%;
			padding: 3px;
		}

		.name {
			font-size: $titleFontSizeLarge;
			font-weight: bold;

			.note {
				font-size: $titleFontSizeSmall;
			}
		}

		.links {
			margin-left: 10px;
			font-size: $defaultFontSize;
			font-weight: bold;
		}

		.owner {
			padding-top: 5px;
		}

		.edit-delete {
			padding-top: 5px;
		}
	}

	.release-item:hover {
		background-color: $mainColor;
		@include roundCorners();
	}
}



/****Release Notes****/
#note-title {
	margin-bottom: 0;
	padding-bottom: 0;
	width: 70%;
}

#external-note-view {
	font-size: $defaultFontSize;
}

#note-edited-data {
	margin-top: 5px;
	font-size: $messageFontSize;
	width: 100%;
}

#release-note {
	width: 100%;
	font-size: $messageFontSize;
	margin-top: 25px;
	padding-bottom: 45px;
}

#note-history {
	margin-top: 30px;

	.note-history-title {
		font-weight: bold;
		font-size: $messageFontSize;
	}

	.note-revisions-list {
		font-weight: normal;
		margin: 3px 0px 0px 10px;
		line-height: 140%;
	}

	.revision-pages, .revision-pages-nav {
		margin: 3px 0px 0px 10px;
		font-weight: bold;
	}
}



/****Users Page****/
#users-list {
	width: 100%;
	padding-bottom: 20px;

	.user-item {
		padding: 20px 15px;

		.row {
			width: 100%;
			clear: both;
			padding: 3px;

			.username {
				font-size: $titleFontSizeLarge;
				font-weight: bold;
			}

			.nickname {
				margin-left: 10px;
				font-size: $titleFontSizeSmall;
				font-weight: bold;
			}

			.name {
				margin-top: 5px;
			}

			.admin {
				font-size: $defaultFontSize;
				font-weight: bold;
				color: $greenColor;
				margin: 0px 0px 0px 5px;
			}

			.edit-user {
				margin-top: 5px;
			}
		}
	}

	.user-item:hover {
		background-color: $mainColor;
		@include roundCorners();
	}
}

.user-heading {
	width: 100%;
	padding-bottom: 15px;

	a:hover {
		color: $accentColor;
	}

	a:last-child {
		margin-left: 20px;
	}
}



/****Search Page****/
.group-search-type, .group-search-by {
	padding-bottom: 10px;
}

.search-title {
	font-size: $titleFontSizeSmall;
	font-weight: bold;
}

#results-count {
	display: inline;
	margin-left: 5px;
	font-size: $messageFontSize;
	font-weight:bold;
}

#search-results {
	width: 100%;
	margin-top: 30px;
	font-size: $titleFontSizeSmall;

	a:hover {
		color: $accentColor;
	}

	.results-row {
		margin-top: 9px;
		padding: 10px 10px 12px 10px;

		.title {
			width: 100%;

			.results-title {
				color: $fontColor;
				font-weight: bold;
			}
		}

		.release {
			width: 100%;
			margin-top: 7px;

			.results-title {
				color: $fontColor;
				font-weight: bold;
			}
		}
	}

	.results-row:hover {
		background-color: $mainColor;
		@include roundCorners($radius: 10px);
	}

	a:last-child .results-row {
		border: none;
	}

	.results-row-none {
		margin-top: 9px;
		padding-bottom: 9px;
	}
}



/****TestBoard Page****/
#link-container {
	font-size: $messageFontSize;
}

#test-board {
	margin: 40px 0px 0px 10px;
	width: 700px;
	line-height: 140%;
	font-size: $titleFontSizeSmall;
}

#txt-customer-id, #customer-options {
	width: 250px;
}

#hf-suffix {
	width: 300px;
}

#generated-links {
	margin-top: 40px;
	font-size: $titleFontSizeSmall;
}

#history-links {
	margin: 30px 0px 0px 10px;
}

#clear-history {
	cursor: pointer;
	font-size: $messageFontSize;
}

#recently-visited-sites {
	background-color: $inputColor;
	width: 655px;
	min-height: 75px;
	padding: 10px;
	color: $inputFontColor;
	@include borderAll();
}

#history-link-list {
	padding: 5px 0px 0px 30px;
	margin: 0;
}



/****Preload Images (Hiddden DIV)****/
#preload-images {
	display: none;
}