// color 1 variables //
$mainColor: #FFFFFF;
$defaultDarkenBackgroundColor: #FFFFFF;
$inputColor: #FFFFFF;

// color 2 variables //
$secondaryColor: #CCCCCC;
$defaultDarkenLightenColor: #CCCCCC;
$headerBackgroundColor: #CCCCCC;
$inputColorAlt: #CCCCCC;

// color 3 variables //
$defaultBorderColor: #555555;
$fontColor: #555555;
$headerFontColor: #555555;
$inputFontColor: #555555;

// color 4 variables //
$accentColor: #0099FF;
$defaultArrowColor: #0099FF;

// static color variables //
$redColor: #FF0000;
$greenColor: #036803;
$blueColor: #245DD5;
$yellowColor: #B99400;

// font variables //
$fontFamily: Tahoma, Geneva, sans-serif;
$defaultFontSize: 12px;
$titleFontSize: 18px;
$titleFontSizeLarge: 22px;
$titleFontSizeSmall: 16px;
$messageFontSize: 14px;
$buttonFontSize: 11px;
$inputFontSize: 13px;
$navFontSize: 16px;
$navSubFontSize: 13px;

// misc variables //
$inputWidth: 255px;
$inputWidthLarge: 550px;

// mixins //
@mixin roundCorners($radius: 5px) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
@mixin backgroundDarken($darkenColor: $defaultDarkenBackgroundColor, $darkenPercentage: 7%) {
	background-color: darken($darkenColor, $darkenPercentage);
}
@mixin backgroundLighten($lightenColor: $defaultDarkenLightenColor, $lightenPercentage: 7%) {
	background-color: lighten($lightenColor, $lightenPercentage);
}
@mixin arrow($arrowSize: 5px, $arrowColor: $defaultArrowColor) {
	width: 0px;
	height: 0px;
	border-bottom: $arrowSize solid transparent;
	border-top: $arrowSize solid transparent;
	border-left: $arrowSize solid $arrowColor;
}
@mixin borderAll($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border: $borderSize $borderStyle $borderColor;
}
@mixin borderLeft($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-left: $borderSize $borderStyle $borderColor;
}
@mixin borderRight($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-right: $borderSize $borderStyle $borderColor;
}
@mixin borderTop($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-top: $borderSize $borderStyle $borderColor;
}
@mixin borderBottom($borderSize: 1px, $borderStyle: solid, $borderColor: $defaultBorderColor) {
	border-bottom: $borderSize $borderStyle $borderColor;
}



/****Globals****/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $mainColor;
	font-family: $fontFamily;
	line-height: 120%;
	font-size: $defaultFontSize;
	margin: 0px;
	color: $fontColor;
	height: 100%;
	width: 100%;
}

.accent {
	color: $accentColor;
}

a {
	@extend .accent;
	text-decoration: none;
}

a:hover {
	color: $fontColor;
}

.no-link {
	color: $fontColor;
}

img {
	border: none;
}

.clear {
	clear: both;
}

h1 > a {
	font-size: $titleFontSize;
}

.new {
	color: $greenColor;
	font-weight: bold;
}

.no-style {
	list-style: none;
}

.indent {
	padding-left: 15px;
}

.sep {
	color: $accentColor;
}

.left {
	float: left;
}

.right {
	float: right;
}

#container {
	margin: 50px 0px 0px 15px;
	padding: 0px 25px 40px 0px;

	ul, ol {
		padding-left: 15px;
		margin: 0;
		line-height: 140%;
	}
}



/****Header****/
#header-wrapper {
	background-color: $headerBackgroundColor;
	width: 100%;
	height: 65px;
	padding-bottom: 15px;
	@include borderBottom();

	.header-logo {
		color: $accentColor;
		padding: 10px 0px 0px 25px;
	}

	.version {
		font-size: $defaultFontSize;
	}

	h3 {
		padding: 15px 25px 0px 0px;
		color: $headerFontColor;

		a:hover {
			color: $headerFontColor;
		}
	}
}



/****Boilerplate****/
#content-wrapper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	color: $fontColor;
}

#main-wrapper {
	width: 90%;
	min-width: 1070px;
	min-height: 500px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	color: $fontColor;
}

#main-content {
	background-color: $secondaryColor;
	min-width: 850px;
	min-height: 500px;
	padding: 20px;
	@include borderAll();
}

#main-footer {
	text-align: center;
	padding: 10px 0px 10px 0px;
	width: 100%;
	height: auto;
	color: $fontColor;
}



/****Release Lists Page****/
.releases {
	width: 100%;
	padding: 10px 10px 12px 10px;
}

.releases:hover {
	background-color: $mainColor;
	@include roundCorners($radius: 10px);
}

.release-list-title {
	font-weight: bold;
	font-size: $messageFontSize;
	color: $accentColor;
}

.release-list-edited-date {
	font-style: italic;
	color: $fontColor;
}

.release-list-release-date {
	font-weight: bold;
	color: $fontColor;
}

.release-list-link {
	font-weight: bold;
	color: $accentColor;
}

.title-small-txt {
	font-size: $defaultFontSize;
}



/****Release Items Page****/
.release-details {
	width: 100%;
	line-height: 150%;
	font-size: $titleFontSizeSmall;
	font-weight: bold;

	.total-items {
		color: $accentColor;
	}

	.total-items-breakdown {
		font-size: $defaultFontSize;
	}
}

#tools {
	margin-top: 40px;
	width: 100%;
	text-align: left;

	.tool {
		margin: 5px 30px 10px 0px;
	}
}

#release-list-container {
	width: 100%;
}

.release-items-list {
	width: 100%;
	margin-top: 50px;
	padding: 10px 20px;
	@include borderAll($borderSize: 3px);

	h2 {
		padding: 10px 0px;
	}

	.no-results {
		padding-bottom: 25px;
	}

	.release-item {
		width: 100%;
		padding: 10px 15px 12px 15px;
		margin-bottom: 20px;

		.release-title {
			width: 100%;
			font-size: $titleFontSizeSmall;
			font-weight: bold;

			.release-title-text {
				color: $fontColor;
			}
		}

		.risk-comfort-levels {
			width: 100%;
			margin-top: 8px;
			font-weight: bold;
		}

		.data-changes {
			width: 100%;
			margin-top: 4px;
		}

		.config-changes {
			width: 100%;
			margin-top: 4px;
		}

		.affected-items {
			width: 100%;
			margin-top: 4px;
			line-height: 150%;
			font-weight: normal;
		}

		.release-item-comment {
			width: 100%;
			background-color: $mainColor;
			margin-top: 5px;
			padding: 5px 10px 7px 10px;
			@include roundCorners(3px);
		}
	}

	.release-item:hover {
		background-color: $mainColor;
	}

	.release-item:hover .release-item-comment {
		background-color: $secondaryColor;
	}
}

.release-level-bad {
	color: $redColor;
}

.release-level-mediocre {
	color: $yellowColor;
}

.release-level-good {
	color: $greenColor;
}



/****Preload Images (Hiddden DIV)****/
#preload-images {
	display: none;
}